@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Fira Sans', sans-serif;
}
.navbar{
  background-color: #40cce1;
  height: 60px;
  display: flex;
  margin-bottom: 3rem;
  padding: 0rem 2rem;
}
.searchbar{
  border: none;
  border-radius: 5px;
  width:500px;
  padding: 0.4rem 0.1rem
} 